<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload Tweet</title>
</head>
<body>
  <form action="/showTweet" method="POST">
    <label for="userName">User Name:</label><br>
    <input type="text" id="userName" name="userName"><br>
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>